<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>43272609323-go8jhr9svm5ntphd00emspirc6vuue8c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.43272609323-go8jhr9svm5ntphd00emspirc6vuue8c</string>
	<key>API_KEY</key>
	<string>AIzaSyB4QoDflNer7xTSy9O_qPWDushlVAU8ZoI</string>
	<key>GCM_SENDER_ID</key>
	<string>43272609323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tw.org.iiiedu.NiHao01</string>
	<key>PROJECT_ID</key>
	<string>nihao01-dcc35</string>
	<key>STORAGE_BUCKET</key>
	<string>nihao01-dcc35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:43272609323:ios:1b81b6c3f16c3b4b</string>
	<key>DATABASE_URL</key>
	<string>https://nihao01-dcc35.firebaseio.com</string>
</dict>
</plist>